* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}
body {
  background-color: #efe4d9;
}
/* navigation */
#navigation_heading {
  display: flex;
  width: 100%;
  height: 70px;
  font-size: 26px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #f6efe9;
  align-items: center;
  justify-content: center;
  ul {
    height: 70px;
    margin: 0 auto;
  }
}
.navigation_gnb {
  display: flex;
  gap: 100px;
  font-size: 20px;
  font-weight: bold;
  padding: 22px 30px;
}
.navigation_gnb > li {
  position: relative;
}
.navigation_gnb .active {
  color: #666;
}

.navigation_gnb > li .lnb {
  position: absolute;
  width: 200px;
  height: 300px !important;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  text-align: center;
  background-color: #f6efe9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* padding: 15px 0 8px; */
  opacity: 0;
  /* overflow: hidden; */
}

.navigation_gnb > li .lnb a {
  display: inline-block;
  width: 160px;
  /* height: 500px; */
  margin: 20px 0;
  &:hover {
    color: #666;
  }
}
.fa-bars {
  width: 40px;
  height: 40px;
  margin: 20px;
  padding-top: 4px;
}
.navigation_text {
  display: flex;
  font-size: 22px;
  padding-bottom: 4px;
}

.fa-sistrix {
  width: 160px;
  text-align: right;
  padding: 0 10px;
  margin: 0 40px;
  border: 1px solid #000;
  border-radius: 50px;
}

/* main */
#main {
  width: 100%;
  img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* slide */
#slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1080px;
}
.slide_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1325px;
  height: 1080px;
  overflow: hidden;
  h2 {
    font-size: 2.5rem;
    padding: 10px 0;
  }
  .slide_card_items {
    position: relative;
    display: flex;
    width: 1325px;
    height: 400px;
    margin: 0 auto;
    &.animated {
      transition: all 0.5s ease-out;
    }
    ul {
      &:not(:last-child) {
        margin-right: 30px;
      }
      p {
        width: 240px;
        border-radius: 20px 20px 0 0;
        background-color: #000;
        padding: 10px;
        color: #fff;
        font-size: 20px;
      }
      img {
        width: 240px;
        height: 300px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.slide_arrow {
  position: absolute;
  display: flex;
  width: 1325px;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  .slide_arrow_left {
    position: absolute;
    top: 55%;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 34px;
    text-align: center;
    color: #fff;
    border: 3px solid transparent;
    background-color: #000;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(55, 55, 55, 0.7);
    }
  }
  .slide_arrow_right {
    position: absolute;
    top: 55%;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 34px;
    text-align: center;
    color: #fff;
    border: 3px solid transparent;
    background-color: #000;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(55, 55, 55, 0.7);
    }
  }
}
